@model IEnumerable<Producer> //this references the producers model

@{
    ViewData["Title"] = "List of producers";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <p>Profile Picture URL</p>
                    </th>
                    <th>
                        <p>Full Name</p>
                    </th>
                    <th>
                        <p>Bio</p>
                    </th>
                    <th>
                        <p>Actions</p>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ProfilePictureUrl" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName);
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Bio);
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-warning"><i class="bi bi-pencil-square"></i>Edit</a> |
                            <a class="btn btn-primary"><i class="bi bi-pencil-eye"></i>Details</a> |
                            <a class="btn btn-danger"><i class="bi bi-pencil-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
