@model IEnumerable<Movie> //this references the cinemas model

@{
    ViewData["Title"] = "List of movies";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <p>Image URL</p>
                    </th>
                    <th>
                        <p>Name</p>
                    </th>
                    <th>
                        <p>Description</p>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ImageUrl" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name);
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description);
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
